In [3]:
# Project Euler # 22

In [4]:
# Packages:
import pandas as pd

In [12]:
# Ingest data:
data = pd.read_csv('p022_names.txt', header=None)
print(data.head())

   0         1      2        3          4         5      6      7     \
0  MARY  PATRICIA  LINDA  BARBARA  ELIZABETH  JENNIFER  MARIA  SUSAN

       8        9     ...      5153  5154     5155  5156 5157   5158    5159  \
0  MARGARET  DOROTHY  ...  VINCENZO  SHON  LYNWOOD  JERE  HAI  ELDEN  DORSEY

     5160       5161    5162
0  DARELL  BRODERICK  ALONSO

[1 rows x 5163 columns]